<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.nombre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="fechaNacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.fechaNacimiento | date :  "dd/MM/y"}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="identificacion">
      <th mat-header-cell *matHeaderCellDef> Identificación </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.identificacion}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoIdentificacion">
        <th mat-header-cell *matHeaderCellDef> Tipo de identificación </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.tipoIdentificacion}} </td>
      </ng-container>
    
    <ng-container matColumnDef="eps">
        <th mat-header-cell *matHeaderCellDef> EPS </th>
        <td mat-cell *matCellDef="let paciente"> {{paciente.eps}} </td>
    </ng-container>
    
    
    

    

    
    <ng-container matColumnDef="historiaClinica">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" class="detalle">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <h1>Historia Clinica</h1>
                <div class="fila-detalle">
                    <div class="element-description" style="cursor: text;">
                        {{ element.historiaClinica }}
                    </div>
                    <div class="espacio"></div>
                    <div class="acciones">
                        <button mat-raised-button color="accent"><mat-icon>edit</mat-icon></button>
                        <button mat-raised-button color="warn" style="margin-left: 0.5vw;" (click)="confirmar()"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
                    

            </div>
        </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['historiaClinica']" class="detail-row"></tr>
  </table>