<div class="container">

    <div class="row">
        
        <mat-card class="card"> 
            <img mat-card-image src="\assets\user.png">
            <div class="title">
                <hr>
                <mat-card-title>Pacientes</mat-card-title>
            </div>
        </mat-card>
        
        <mat-card class="cardM"> 
            <img mat-card-image src="\assets\logo.png">
            <div class="title">
                <hr>
                <mat-card-title>Medicos</mat-card-title>
            </div>
        </mat-card>
        
        
        <mat-card class="card"> 
            <img mat-card-image src="\assets\date.png" >
            
            <div class="title">
                <hr>
                <mat-card-title>Citas</mat-card-title>
            </div>
        </mat-card>
        
    </div>

</div>