<div class="container">

    <div class="row" style="margin-bottom: 0px; font-size: 1.9vw;">
        <h1>Administración médica</h1>
    </div>

    <div class="row">
        
        <mat-card matRipple class="card" (click)="click(1)"> 
            <img mat-card-image src="\assets\userW.png">
            <div class="title">
                <hr>
                <mat-card-title>Pacientes</mat-card-title>
            </div>
        </mat-card>
        
        <mat-card matRipple class="cardM" (click)="click(2)"> 
            <img mat-card-image src="\assets\logoW.png">
            <div class="title">
                <hr>
                <mat-card-title>Medicos</mat-card-title>
            </div>
        </mat-card>
        
        
        <mat-card matRipple class="card" (click)="click(3)"> 
            <img mat-card-image src="\assets\dateW.png" >
            
            <div class="title">
                <hr>
                <mat-card-title>Citas</mat-card-title>
            </div>
        </mat-card>
        
    </div>
    
</div>

<div *ngIf="pacientes" style="margin-top: 50px;padding-bottom: 3%;">
    <hr style="margin-top: 50px; margin-left: 5%; margin-right: 5%;">
    <h1 class="row">Pacientes</h1>
    <hr style=" margin-left: 5%; margin-right: 5%;">
    <app-pacientes class="row"></app-pacientes>
</div> 